name: "Terraform"

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - "config/terraform/aws/*"
      - ".github/workflows/*"

defaults:
  run:
    shell: bash
    working-directory: config/terraform/aws

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ca-central-1
  BACKEND_BUCKET: ${{ secrets.BACKEND_BUCKET }}
  TF_VAR_ecs_task_key_retrieval_env_hmac_key: ${{ secrets.TF_VAR_ecs_task_key_retrieval_env_hmac_key }}
  TF_VAR_ecs_task_key_retrieval_env_ecdsa_key: ${{ secrets.TF_VAR_ecs_task_key_retrieval_env_ecdsa_key }}
  TF_VAR_ecs_task_key_submission_env_key_claim_token: ${{ secrets.TF_VAR_ecs_task_key_submission_env_key_claim_token }}
  TF_VAR_rds_server_db_password: ${{ secrets.TF_VAR_rds_server_db_password }}
  TF_VAR_route53_zone_name: ${{ secrets.TF_VAR_route53_zone_name }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  terraform-plan:
    if: github.ref != 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.13.0-beta2

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${BACKEND_BUCKET}" \
            -backend-config="key=aws/backend/default.tfstate" \
            -backend-config="region=ca-central-1"

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Plan
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TF_VAR_github_sha: ${{ github.sha }}
        run: terraform plan

  terraform-apply:
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
          terraform_version: 0.13.0-beta2

    - name: Terraform Format
      run: terraform fmt -check

    - name: Terraform Init
      run: |
        terraform init \
          -backend-config="bucket=${BACKEND_BUCKET}" \
          -backend-config="key=aws/backend/default.tfstate" \
          -backend-config="region=ca-central-1"

    - name: Terraform Plan
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TF_VAR_github_sha: ${{ github.sha }}
      run: terraform plan -out terraform.tfplan

    - name: Terraform Apply
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TF_VAR_github_sha: ${{ github.sha }}
      run: terraform apply -auto-approve terraform.tfplan

    - name: Check For New Deployments
      env:
        GITHUB_SHA: ${{ github.sha }}
        submission: submission.${{ secrets.TF_VAR_route53_zone_name }}
        retrieval: retrieval.${{ secrets.TF_VAR_route53_zone_name }}
        
      run: |
        source ../../../bin/verify-deployment.sh
        verify_deployments -c $GITHUB_SHA -e $submission -e $retrieval 
